html, body {
  background-color: tomato;
  font-family: "Manrope", cursive;
  color: snow;
  margin: 0;
  padding: 0;
}

div#header {
  background-color: snow;
  color: black;
  margin-top: -21px;
  padding-top: 2px;
  padding-left: 10px; 
}
