body {
  background-color: tomato;
  font-family: "Manrope", cursive;
  color: snow;
  margin: 0;
  padding: 0;
}

div#header {
  background-color: snow;
  color: black;
  margin-top: -21px;
  padding-top: 2px;
  padding-left: 10px; 
  padding-right: 10px;
}

button.header {
  background-color: snow;
  border: 2px solid black;
  border-radius: 10px;
}

button.header:hover {
  border: 2px solid tomato;
  color: tomato;
}

button#TPhome {
  float: right;
  height: 35px;
  text-align: center;
  margin-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

h2#button {
  margin-top: -3px;
  margin-bottom: 0px;
}
